
/*this file contain css code of about.html page and contact.html page*/


/********************************************about start *****************************************/

.about-title{
	font-size: 50px;
	letter-spacing: 1px;
}

.about-text{
	max-width: 500px;
	margin:0 16px; ;
	border:1px solid #CCCBC6;
	letter-spacing: 1px; 
	font-size: 13px;
}

@media screen and (min-width: 768px){
	.about-title{
		font-size: 120px;
	}

	.about-text{
		font-size: 16px;
	}
}

@media screen and (min-width: 576px){
	.about-text{
		margin: auto;
	}
}
/********************************************about end *****************************************/




/********************************************contact start *****************************************/

.contact-title{
	font-size: 25px;
}

.contact-container{
	max-width:100%;
	margin: 0 15px;
	border:1px solid #CCCBC6;
	border-radius: 5px;
}

input:focus, textarea:focus{
	outline: none;
}


.input-email label, .input-name label, .input-msg label{
	font-size: 13px;
	letter-spacing: 1px;
	padding: 5px;
}

.input-email input, .input-name input, .input-msg textarea{
	border:none;
	width: 100%;
	padding: 5px;
	border-bottom: 1px solid #CCCBC6;
	display: block;
	margin-bottom: 60px;
	padding-bottom: 10px;
	font-family: minimalist;
	color:#4ABDAC;
}

::placeholder{
	color:#CCCBC6;
}

.input-msg textarea{
	height: 150px;
}

.input-submit input{
	background-color: #CDA34F;
	color: white;
	border:1px solid #CDA34F;
}

.input-submit input:hover{
	color:#CDA34F;
	background-color: white;
}

@media screen and (min-width: 768px){
	.contact-title{
		font-size: 50px;
	}

	.input-email input, .input-name input, .input-msg textarea{

	}

	.contact-container{
		max-width:50%;
		margin: auto;
	}
}

/********************************************contact end *****************************************/
